.editorContainer{
    position: relative;
    width:100%;
    height:99.9vh;
    display:flex;
    flex-direction:column;
    /* padding: 0.5rem; */
    background-color: black;
}

.editorNav{
    position: relative;
    flex:6%;
    background-color: black;
    width:100%;
    display: flex;
    align-items: center;
}
.title{
    color: white;
    margin-left: 1.5rem;
    font-size: 0.9rem;
    font-weight: 600;
}
.title span{
    color: green;
    font-size: 0.9rem;
    font-weight: 600;
}
.editorBody{
    position: relative;
    flex:94%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-bottom: 0.5rem;

}
.leftEditorContainer{
    position: relative;
    flex:65%;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    margin-left: 0.5rem;
}
.editor{
    position: relative;
    flex:94%;
    background-color: #212121;
    width:100%;
    border-radius: 10px;
    overflow: hidden;
}

.rightEditorContainer{
    position: relative;
    flex:25%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-right: 0.5rem;
}
.testContainer{
    position: relative;
    flex: 50%;
    width:100%;
    background-color: #212121;
    height: 50%;
    border-radius: 10px;
    overflow: hidden;
}
.outputContainer{
    position: relative;
    flex: 50%;
    background-color: #212121;
    width:100%;
    height: 50%;
    border-radius: 10px;
    overflow: hidden;
}
.subNav{
    position: relative;
    height: 1.2rem;
    width:100%;
    background-color: #333333;
    display:flex;
    align-items: center;
}
.codeEditor{
    position: relative;
    width:100%;
    height:89vh
}
.subNavTitle{
    position: relative;
    width:10rem;
    margin-left:1rem;
    color: green;
    font-size: 0.7rem;
}
.subNavTitle span{
    color: aliceblue;
}
.submitButton {
    width: 20rem;
    height: 2rem;
    margin-top: 1px;
    padding: 0.5rem 1rem; /* Adjusted padding for better spacing */
    line-height: 2rem; /* Align text vertically */
    font-size: 1.2rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
    cursor: pointer;
    text-align: center; /* Center text horizontally */
    font-weight: 600; /* Bold text for emphasis */
  }
  
  .submitButton:hover {
    background-color: #45a049;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Slightly stronger shadow on hover */
  }
  
  